@import url("https://use.typekit.net/vbw1pel.css");

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

h1 {
  color: white;
  font-size: 4rem;
  font-family: "plantin";
  font-weight: 600;
  margin: 0px;
}

.hero {
  color: #fff;
  background: #89a2af;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 15px 15px;
}

input {
  height: 30px;
  border: 1px solid black;
  margin-bottom: 15px;
}
